.aboutme{
    justify-content: center;
    align-items: baseline;
    font-weight: normal;
    font-family: itc-avant-garde-gothic-pro;;
    max-width: 1250px;
    position: relative;
    margin: auto;
    font-size: 2em;
}