#root{
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    font-family: sans-serif;
    width: 1500px;
    margin: 0 auto;
    gap: 10px 5px;
    left: -350px;
    font-size: 2.5em;
    top: 75px;
}

label{
    justify-self: end;
}

#send{
    grid-column: 2;
    justify-self: start;
}

#message{
    height: 300px;
}

@media (max-width: 500px){
    #root{
        grid-template-columns: 1fr;
        position: relative;
        display: grid;
        font-family: sans-serif;
        width: 1500px;
        margin: 0 auto;
        gap: 10px 5px;
        left: -350px;
        font-size: 2.5em;
        top: 75px;
    }
    #send{
        grid-column: 1;
    }
    label:not(:first-child), #send{
        margin-top: 10px;
    }

    label{
        justify-self: start;
    }

    input[type='text message']{
        font-family: Arial, Helvetica, sans-serif;
    }
}