body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
}
#work{
    float: left;
    width: 440px;
    height: 240px;
    object-fit: cover;
    position: relative;
    left: 5%;
}
.content-container {
    max-width: 2000px;
    position: relative;
    margin: auto;
}

.table{
    width: auto;
    border: 1;
    table-layout: fixed;
}