body{
    background-color: whitesmoke;
    background-size: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#center{
    width: auto;
    height: auto;
}
#socials{
    float: left;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

#namelogo{
    width: 210px;
    height:140px;
}

#menupic{
    float: left;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

#subtitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em; 
    position: relative;
    top: -40px;
}

#menu{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.topleft {
    position: absolute;
    top: 60px;
    left: 60px;
    font-size: 18px;
}

.bottom {
    position: absolute;
    bottom: -10px;
    font-size: 18px;
    padding-bottom: 2.5rem;
}

.features{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: translateX(25%);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropbtn {
    background-color: whitesmoke;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #ECF0F1;}